.header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.container li{
    list-style: none;
    color: white;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.contact{
    position: relative;
    gap: 6px;
}
.contact:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
.contact:hover::after {
    transform: scaleX(1);
  }
.menu{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}
.menu hr{
    width: 100%;
    background-color: white;
    height: 2px;
    border-radius: 4px;
}
.side__menu{
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 300px 100px;
    border-left: 1px solid rgb(54, 54, 54);
    opacity: 0;
    z-index: 400;
}
.side__menu__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.side__menu__container ul{
    width:fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.side__menu__container ul li {
    width: fit-content;
    list-style: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    font-weight: 200;
}
.side__menu__container ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
.side__menu__container ul li:hover::after {
    transform: scaleX(1);
  }
.social__container{
    margin-top: 200px;
    display: flex;
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 42px;
    gap: 12px;
    cursor: pointer;
    opacity: 0;
}