.main_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.main_section h2{
    font-size: 140px;
    color: rgb(25, 25, 25);
}

.cards_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    min-height: 350px;
}
.cards_container article{
    flex-grow: 1;
}